body {
    font-family: Arial;
    background-color: rgb(233, 226, 217);
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: rgb(249, 214, 171);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;

}
h1 {
    color: rgb(66, 66, 66);
}
input[type="text"] {
    padding: 10px;
    margin: 10px;
    border: 2px solid #6b6767;
    border-radius: 5px;
    width: 60%;
}
button {
    padding: 10px 20px;
    background-color: rgb(99, 233, 99);
    color:rgb(66, 86, 67);
    border: 1px;
    border-radius: 2px;
    cursor:pointer;

}
button:hover{
    background-color: aquamarine;
}
span {
    display: block;
    margin-top: 20px;
    
}
li {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #292424;
    background-color: beige;
    display: flex;
    justify-content: space-between;


}
button.task-button {
    padding: 8px 16px;
    margin-left: 8px;
}